.alerts .alert {
    position: absolute;
    background: #FFFFFF;
    color: #212121;
    font-size: 18px;
    z-index: 1001;
    width: 375px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
}

.alerts .alert .title {
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    padding: 24px 24px 20px;
}

.alerts .alert .message {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
    padding: 0 24px 24px;
}

.alerts .alert .action.left {
    text-align: left;
    margin-right: 8px;
}

.alerts .alert .action.middle {
    text-align: center;
    margin: 0 4px;
}

.alerts .alert .action.right {
    text-align: right;
    margin-left: 8px;
}

.alerts .alert .action {
    /*border-top: 1px solid rgba(255, 255, 255, 0.15);*/
    text-align: right;
    margin-left: 8px;
    line-height: 22px;
    padding: 8px;
}


/*
// Light
*/

.alerts .alert.light {
    background: #FFFFFF;
    color: #212121;
}

.alerts .alert.light .title {
    color: rgba(0, 0, 0, 1);
}

.alerts .alert.light .message {
    color: rgba(0, 0, 0, 0.7);
}

/*
// Dark
*/

.alerts .alert.dark {
    background: #212121;
    color: #333333;
}

.alerts .alert.dark .title {
    color: rgba(255, 255, 255, 1);
}

.alerts .alert.dark .message {
    color: rgba(255, 255, 255, 0.7);
}
