.breadbox {
    position: absolute;
    transform: translateX(-50%);
    z-index: 100;
    top: 0.5em;
    left: 50%;
    width: 410px;
}

.breadbox .notification {
    background: rgba(255, 255, 255, 0.9);
    padding: 0.7em;
    box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background 0.1s;
}

.breadbox .notification:hover,
.breadbox .notification:active {
    background: #FFFFFF;
}

.breadbox .notification .image {
    display: inline-block;
    vertical-align: top;
    margin: 3px 0.7em 0 0;
}

.breadbox .notification .image img {
    height: 35px;
}

.breadbox .notification .text {
    display: inline-block;
    line-height: 21px;
}

.breadbox .notification .text .title {
    font-weight: 500;
    font-size: 1.1em;
}

.breadbox .notification .text .subtitle {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
}

.breadbox .notification .text .message {
    font-weight: 400;
}
