* {
    -webkit-user-select: none;
    -moz-user-select: none;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.transparent {
    background: rgba(0, 0, 0, 0.2) !important;
}

.no-bg {
    background: rgba(0, 0, 0, 0) !important;
}

.desktop {
    height: 100%;
    width: 100%;
    font-family: "Roboto", sans-serif;
    background: url(./wallpaper.png) no-repeat center center fixed;
    background-size: cover;
}

.desktop .toolbar {
    background: #333;
    color: #FFF;
    padding: 0.5em;
    position: absolute;
    z-index: 2;
    height: 2.4em;
    width: calc(100% - 1em);
    bottom: 0;
    left: 0;
}

.desktop .toolbar .apps {
    float: left;
}

.desktop .toolbar .apps span {
    display: inline-flex;
    vertical-align: middle;
    padding: 0.45em;
    margin-right: 0.5em;
    cursor: pointer;
}

.desktop .toolbar .apps #app_launcher {
    border-radius: 0.1em;
    background: #3F3F3F;
    box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.15);
}

.desktop .toolbar .apps .active {
    border-bottom: 2px solid white;
}

.desktop .toolbar .apps .active .material-icons {
    height: 22px;
}

.desktop .toolbar .metabar {
    float: right;
    display: inline-flex;
    vertical-align: middle;
    padding: 0.45em;
    border-radius: 0.1em;
    background: #3F3F3F;
    cursor: pointer;
    box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.15);
}

.desktop .toolbar .metabar span {
    height: 24px;
    margin: 0 0.25em;
}

.desktop .toolbar .metabar #meta_time {
    padding-top: 3px;
    height: 20px;
}

.desktop .windows {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.desktop .window {
    /*position: absolute;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 50%;*/
    width: 800px;
    background: transparent;
    box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.15);
    border-radius: 1em;
}

.desktop .window .content {
    background: #FFF;
    height: 480px;
}

.desktop .window .menubar {
    background: #EEE;
    padding: 0.25em 0.5em;
    height: 24px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.desktop .window .menubar .title {
    float: left;
    color: #999;
    height: 24px;
    padding-top: 3px;
    margin-left: 5px;
}

.desktop .window .menubar .controls {
    float: right;
    display: inline-flex;
    vertical-align: middle;
}

.desktop .window .menubar .controls span {
    height: 24px;
    color: #999;
    margin: 0 2px;
    cursor: pointer;
}
